.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #d5f1f1;
  background-color: #abcaca;
  flex-direction: column;
}
button {
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  font-size: 36px;
  padding: 10px 30px;
  border: none;
  box-shadow: 2px 5px 2px #000000a8;
  cursor: pointer;
  margin-bottom: 35px;
}


